.content-spa{
    .btns-div-map{
        position: fixed;
        bottom: 20%;
        right: 2em;
        z-index: 2;

        button{
            display: block;
        }

        button+button{
            margin-top: 2em;
        }
    }

    .warning-top{
        z-index: 1;
        
    }

    // ______change mapbox default styles____________

    .mapbox-directions-inputs{
        display: none;
    }

    .directions-control-instructions{
        // width: 100%;
        // height: 500px;
        background-color: rgba(74, 57, 119, 0.781);
    }

    .directions-control{
        // background-color: rgba(128, 0, 128, 0);
    }

    .mapbox-directions-route-summary{
        position: fixed;
        background-color: #374c8f;
    }

    .mapbox-directions-steps{
        margin-top: 2em;
    }


    // .mapboxgl-ctrl-geolocate, .mapboxgl-ctrl-icon{
    //     z-index: 10;
    // }

}